/* Default CSS */
* {
    margin:0;
    padding:0;
    font-family: 'Nanum Gothic','Oswald', sans-serif;
}

img {
    vertical-align: middle;
}

ol, ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 960px;
    margin: 0 auto;
}


/* header CSS */

#intro {
    width: 100%;
    height: 80px;
    background-color: yellow;
}

#intro h1 {
    float: left;
    width: 50%;
    height: 80px;
    background-color: #F0EBE3;
}

#intro h1 a {
    display: block;
    padding: 22px 0 0 30px;
    font-size: 30px;
}

#intro nav {
    float: right;
    width: 50%;
    height: 80px;
    background-color: lightgray;
}

#intro nav ul li{
    width: 25%;
    height: 80px;
    float: left;
    text-align: center;
    line-height: 80px;
}

#intro nav ul li.one {
background-color: #FFDCAE;
}
#intro nav ul li.two {
background-color: #CED89E;
}
#intro nav ul li.three {
background-color: #ADCF9F;
}
#intro nav ul li.four {
background-color: #76BA99;
}

nav ul li a{
    font-size: 20px;
    font-weight: bold;

    transition: color 300ms;
}

#intro nav ul li a:hover {
    color: #917f7f;
}

/* Main CSS */

#main article {
    width: 50%;
    height: 320px;

    float: left;
}
#main article a {
    display: block;

    width: 100%;
    height: 100%;
}
.thePicture {
    height: 50%;
    border-radius: 70%;
    overflow: hidden;
}
#main article.one {
    background-color: #d9f8c4
}
#main article.two {
    background-color: #F9F9C5;
}
#main article.three {
    background-color: #FAD9A1
}

#main article.one,
#main article.two,
#main article.three {
    transition: background-color 0.3s;
}

#main article.one:hover {
    background-color: #85ee3f;
}
#main article.two:hover {
    background-color: #ecec2a;
}
#main article.three:hover {
    background-color: #f7bb55;
}

#main article h2 {
    color: #fff;
    font-size: 30px;

    text-align: center;
    padding: 10px 0;
}

#main article p {
    color: #fff;
    font-size: 25px;

    text-align: center;
    padding: 10px 0;
}



/* Footer CSS  */ 
footer {
    clear: both;

    width: 100%;
    height: 80px;
    background-color: #F0EBE3;
}

#footer .eMail {
    float: left;
    width: 50%;
}
#footer .address {
    float: right;
    width: 50%;
}

#footer .eMail p {
    font-size: 14px;
    color: #999;
    padding: 32px 0 0 40px;
}
#footer .address p {
    font-size: 14px;
    color: #999;
    padding: 32px 40px 0 0;

    text-align: right;
}

@media (min-width: 320px) and (max-width: 800px) {
    .container {
        width: 640px;
      }  

    #intro {
        height: 160px;
    }
    #intro h1 {
        width: 100%;
    }
    #intro h1 a {
        text-align: center;
        padding: 22px 0 0 0;
    }
    #intro nav {
        width: 100%;
    }
    #main article {
        width: 100%;
        height: 420px;
    }

    #footer {
        padding: 30px 0;
    }
    
    #footer .eMail, 
    #footer .address {
        width: 100%
    }

    #footer .eMail p, 
    #footer .address p {
        text-align: center;
        padding: 0;
    }

    #footer .address p {
        text-align: center;
        padding-top: 20px;
    }
}