.title {
    color: orange;
}

body p #www {
    color:white;
    background-color: black;
}

body {
    margin-left: 100px;
}

#internet, #browser {
    border: 1px solid black;
}

div > p {
    border: 1px solid green;
}

